In [60]:
%%file 10-4.c

#include<stdio.h>

void set_idx(int *v, int n){
    for(int i = 0; i < n; i++) {
        v[i] = i;
    }

}

int main() {
    int n[5] = {35, 27, 35, 43, 52};

    printf("変更前の配列 :\n");
    for(int i=0; i < 5; i++){
        printf("n[%d] : %d\n", i, n[i]);
    }

    set_idx(n, 3);

    printf("変更後の配列 :\n");
    for(int i=0; i < 5; i++){
        printf("n[%d] : %d\n", i, n[i]);
    }

    return 0;
}

Overwriting 10-4.c

In [61]:
!gcc 10-4.c -o prog && ./prog

変更前の配列 :
n[0] : 35
n[1] : 27
n[2] : 35
n[3] : 43
n[4] : 52
変更後の配列 :
n[0] : 0
n[1] : 1
n[2] : 2
n[3] : 43
n[4] : 52